
.result-list {
    align-items: stretch;
    max-width: 540px;
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
}

.results {
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-flow: column;
}

.results-item {
    margin-bottom: 20px;
    background: #655A56;
}

.pagination {
    max-width: 540px;
    display: flex;
}

.results__link {
    display: flex;
    text-decoration: none;
}

.results__img {
    border: 2px solid #655A56;
    overflow: hidden;
    height: 100px;
    width: 100px;
}

.results__img img {
    width: 100%;
    height: 100%;
}

.results__data {
    margin-left: 20px;
}

.results__name {
    text-transform: capitalize;
    line-height: normal;
    font-size: 20px;
    padding: 10px 0;
    color: #ffffff;
}

.results__author {
    color: #ffffff;
    font-style: italic;
    font-size: 14px;
    line-height: normal;
}

.btn__pagination {
    position: relative;
    color: #ffffff;
    height: 40px;
    width: 160px;
}

.icon-pagination {
    fill: #ffffff;
    height: 30px;
    width: 40px;
}

.btn-prev {
    justify-content: center;
    padding-left: 25px;
    margin-right: auto;
    display: flex;
}

.btn-prev .icon-pagination{
    position: absolute;
    left: 5px;
    right: auto;
}

.btn-next {
    justify-content: center;
    padding-right: 25px;
    margin-left: auto;
    display: flex;
}

.btn-next .icon-pagination {
    transform: rotate(180deg);
    position: absolute;
    right: 5px;
}